// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #333;
  --ion-color-primary-rgb: 51, 51, 51;
  --ion-color-primary-contrast: white;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #2d2d2d;
  --ion-color-primary-tint: #474747;
  --ion-color-secondary: #f7e877;
  --ion-color-secondary-rgb: 247, 232, 119;
  --ion-color-secondary-contrast: black;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #d9cc69;
  --ion-color-secondary-tint: #f8ea85;
  --ion-color-tertiary: #f2d785;
  --ion-color-tertiary-rgb: 242, 215, 133;
  --ion-color-tertiary-contrast: black;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #d5bd75;
  --ion-color-tertiary-tint: #f3db91;
  --ion-color-success: #50abbf;
  --ion-color-success-rgb: 80, 171, 191;
  --ion-color-success-contrast: black;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #4696a8;
  --ion-color-success-tint: #62b3c5;
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: black;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;
  --ion-color-danger: #f24968;
  --ion-color-danger-rgb: 242, 73, 104;
  --ion-color-danger-contrast: white;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d5405c;
  --ion-color-danger-tint: #f35b77;
  --ion-color-dark: #171717;
  --ion-color-dark-rgb: 23, 23, 23;
  --ion-color-dark-contrast: white;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #141414;
  --ion-color-dark-tint: #2e2e2e;
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: white;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: black;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  // loading animation
  --loading-background-start: var(--ion-color-light-shade);
  --loading-background-end: var(--ion-color-light);
}

/*
   * Dark Colors
   * -------------------------------------------
   */

body.dark {
  --ion-color-primary: #fdc100;
  --ion-color-primary-rgb: 253, 193, 0;
  --ion-color-primary-contrast: black;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #dfaa00;
  --ion-color-primary-tint: #fdc71a;
  --ion-color-secondary: #e8bf07;
  --ion-color-secondary-rgb: 232, 191, 7;
  --ion-color-secondary-contrast: black;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #cca806;
  --ion-color-secondary-tint: #eac520;
  --ion-color-tertiary: #ffc651;
  --ion-color-tertiary-rgb: 255, 198, 81;
  --ion-color-tertiary-contrast: black;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #e0ae47;
  --ion-color-tertiary-tint: #ffcc62;
  --ion-color-success: #50abbf;
  --ion-color-success-rgb: 80, 171, 191;
  --ion-color-success-contrast: black;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #4696a8;
  --ion-color-success-tint: #62b3c5;
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: black;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;
  --ion-color-danger: #f24968;
  --ion-color-danger-rgb: 242, 73, 104;
  --ion-color-danger-contrast: white;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d5405c;
  --ion-color-danger-tint: #f35b77;
  --ion-color-dark: #171717;
  --ion-color-dark-rgb: 23, 23, 23;
  --ion-color-dark-contrast: white;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #141414;
  --ion-color-dark-tint: #2e2e2e;
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: white;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: black;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  // loading animation
  --loading-background-start: var(--ion-color-step-150);
  --loading-background-end: var(--ion-color-step-100);
}

/*
   * iOS Dark Theme
   * -------------------------------------------
   */

.ios body.dark {
  --ion-background-color: black;
  --ion-background-color-rgb: 0, 0, 0;
  --ion-text-color: white;
  --ion-text-color-rgb: 255, 255, 255;
  --ion-color-step-50: #0d0d0d;
  --ion-color-step-100: #1a1a1a;
  --ion-color-step-150: #262626;
  --ion-color-step-200: #333;
  --ion-color-step-250: #404040;
  --ion-color-step-300: #4d4d4d;
  --ion-color-step-350: #595959;
  --ion-color-step-400: #666;
  --ion-color-step-450: #737373;
  --ion-color-step-500: gray;
  --ion-color-step-550: #8c8c8c;
  --ion-color-step-600: #999;
  --ion-color-step-650: #a6a6a6;
  --ion-color-step-700: #b3b3b3;
  --ion-color-step-750: #bfbfbf;
  --ion-color-step-800: #ccc;
  --ion-color-step-850: #d9d9d9;
  --ion-color-step-900: #e6e6e6;
  --ion-color-step-950: #f2f2f2;
  --ion-toolbar-background: #0d0d0d;
  --ion-item-background: black;
  --ion-card-background: #1c1c1d;
}

/*
   * Material Design Dark Theme
   * -------------------------------------------
   */

.md body.dark {
  --ion-background-color: #121212;
  --ion-background-color-rgb: 18, 18, 18;
  --ion-text-color: white;
  --ion-text-color-rgb: 255, 255, 255;
  --ion-border-color: #222;
  --ion-color-step-50: #1e1e1e;
  --ion-color-step-100: #2a2a2a;
  --ion-color-step-150: #363636;
  --ion-color-step-200: #414141;
  --ion-color-step-250: #4d4d4d;
  --ion-color-step-300: #595959;
  --ion-color-step-350: #656565;
  --ion-color-step-400: #717171;
  --ion-color-step-450: #7d7d7d;
  --ion-color-step-500: #898989;
  --ion-color-step-550: #949494;
  --ion-color-step-600: #a0a0a0;
  --ion-color-step-650: #acacac;
  --ion-color-step-700: #b8b8b8;
  --ion-color-step-750: #c4c4c4;
  --ion-color-step-800: #d0d0d0;
  --ion-color-step-850: #dbdbdb;
  --ion-color-step-900: #e7e7e7;
  --ion-color-step-950: #f3f3f3;
  --ion-item-background: #1e1e1e;
  --ion-toolbar-background: #1f1f1f;
  --ion-tab-bar-background: #1f1f1f;
  --ion-card-background: #1e1e1e;
}
