:host {
  display: block;
  overflow: hidden;
  object-fit: cover;
  position: relative;
  animation: loading 2.5s ease-in-out alternate infinite;
}

ion-img {
  width: 100%;
  height: 100%;
  object-fit: inherit;
  object-position: inherit;
  opacity: 0;
}

ion-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
