<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-slides>
    <ion-slide>
      <ion-card>
        <app-image src="https://picsum.photos/id/101/1920/1080"></app-image>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <app-image src="https://picsum.photos/id/102/1920/1080"></app-image>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <app-image src="https://picsum.photos/id/103/1920/1080"></app-image>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
