:host {
  --photo-radius: 32px;
}

ion-toolbar {
  position: absolute;

  --background: transparent;
}

ion-content {
  /* stylelint-disable-next-line declaration-no-important */
  --offset-top: var(--photo-radius) !important;
}

.photo-slides {
  overflow: hidden;
  border-radius: 0 0 var(--photo-radius) var(--photo-radius);
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;

  ion-slide {
    height: auto;

    app-image {
      height: 100%;
      max-height: 40vh;
      min-height: 100px;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

iframe {
  width: 100%;
  height: 100px;
}
