<ion-content scrollEvents (ionScroll)="onScroll($event)">
  <ion-grid>
    <ion-row>
      <ion-col
        #col
        *ngFor="let item of [].constructor(40); let i = index"
        size="6"
        size-sm="4"
        size-md="3"
        size-lg="2"
      >
        <app-image
          routerLink="photo"
          [src]="'https://picsum.photos/id/' + i * 2 + '/600/700'"
          class="ion-activatable"
        >
          <ion-ripple-effect></ion-ripple-effect>
        </app-image>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed" edge>
    <ion-fab-button (click)="presentCamera()">
      <ion-icon name="camera-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
<ion-footer [class.ion-no-border]="noFooterBorder$ | async">
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button (click)="presentSettings($event)" slot="secondary">
        <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
