<ion-list lines="none">
  <ion-item>
    <ion-icon name="moon-outline" slot="start"></ion-icon>
    <ion-label>Theme</ion-label>
    <ion-select
      *ngrxLet="theme$ as theme"
      [value]="theme"
      (ionChange)="onChangeDarkTheme($event)"
    >
      <ion-select-option *ngFor="let theme of themes" [value]="theme">
        {{ theme }}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-icon name="information-outline" slot="start"></ion-icon>
    <ion-label>Version</ion-label>
    <ion-note slot="end">{{ version }}</ion-note>
  </ion-item>
</ion-list>
