<ion-list *transloco="let t" lines="none">
  <ion-item>
    <ion-icon name="moon-outline" slot="start"></ion-icon>
    <ion-label>{{ t('.theme') }}</ion-label>
    <ion-select
      *ngrxLet="theme$ as theme"
      [value]="theme"
      (ionChange)="onChangeTheme($event)"
    >
      <ion-select-option *ngFor="let theme of themes" [value]="theme">
        {{ t('theme.' + theme) }}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-icon name="language-outline" slot="start"></ion-icon>
    <ion-label>{{ t('languages') }}</ion-label>
    <ion-select
      *ngrxLet="language$ as language"
      [value]="language"
      (ionChange)="onChangeLanguage($event)"
    >
      <ion-select-option
        *ngFor="let language of languages | keyvalue"
        [value]="language.key"
        >{{ language.value }}</ion-select-option
      >
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-icon name="information-outline" slot="start"></ion-icon>
    <ion-label>{{ t('version') }}</ion-label>
    <ion-note slot="end">{{ version }}</ion-note>
  </ion-item>
</ion-list>
